@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 10ch; font-weight:bold"> Welcome</h1>
</div>
<body background="https://s3.amazonaws.com/contents.newzenler.com/1134/library/60995ab08f294_1620662960_payroll-analytics.jpeg " style="background-size: cover;"></body>